.nav-child9,
.nav4 {
  box-sizing: border-box;
}
.nav-child9 {
  width: 34px;
  height: 2px;
  position: relative;
  border-top: 2px solid var(--color-black);
}
.nav4 {
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-4xs) var(--padding-5xs);
  gap: var(--gap-3xs);
}
.search-icon6 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.search4 {
  border-radius: var(--br-8xs);
  background-color: var(--color-whitesmoke-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs);
}
.profile-pic-14 {
  height: 41px;
  width: 38px;
  position: relative;
  border-radius: var(--br-72xl-5);
  object-fit: cover;
}
.achieng-alice4 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 99px;
  white-space: nowrap;
}
.down-icon4 {
  height: 8px;
  width: 8px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.other-links2,
.profile3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  gap: var(--gap-8xs);
}
.other-links2 {
  padding: var(--padding-8xs) var(--padding-10xs);
  gap: var(--gap-mini);
}
.header4,
.side-bar-background {
  background-color: var(--color-white);
}
.header4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-6xl);
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-darkslateblue-100);
  font-family: var(--font-poppins);
}
.side-bar-background {
  width: 3px;
  height: 40px;
  position: relative;
}
.side-bar-container {
  height: 103px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon24 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.dashboard25 {
  margin-left: -16px;
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 56px;
}
.link-icons,
.link24 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link24 {
  align-self: stretch;
  flex-direction: column;
  padding: 0 var(--padding-sm);
  gap: var(--gap-10xs);
}
.link-icons {
  width: 40px;
  flex-direction: row;
  padding: 0 var(--padding-5xs) 0 var(--padding-6xs);
  box-sizing: border-box;
}
.dashboard26 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 39px;
}
.icon-wrapper16,
.link25 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link25 {
  flex-direction: column;
  padding: 0 var(--padding-7xs);
  gap: var(--gap-8xs);
  cursor: pointer;
}
.icon-wrapper16 {
  width: 46px;
  flex-direction: row;
  padding: 0 var(--padding-2xs) 0 var(--padding-3xs);
  box-sizing: border-box;
}
.dashboard27 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 45px;
}
.icon-wrapper17,
.link26 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link26 {
  flex-direction: column;
  padding: 0 var(--padding-10xs);
  gap: var(--gap-8xs);
}
.icon-wrapper17 {
  width: 28px;
  flex-direction: row;
  padding: 0 var(--padding-11xs) 0 var(--padding-12xs);
  box-sizing: border-box;
}
.dashboard28 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 27px;
}
.icon-wrapper18,
.link27 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link27 {
  flex-direction: column;
  padding: 0 var(--padding-xs);
  gap: var(--gap-8xs);
}
.icon-wrapper18 {
  flex-direction: row;
  padding: 0 var(--padding-8xs);
}
.dashboard29 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 34px;
}
.icon-wrapper19,
.link28 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link28 {
  flex-direction: column;
  padding: 0 var(--padding-4xs);
  gap: var(--gap-8xs);
  cursor: pointer;
}
.icon-wrapper19 {
  flex-direction: row;
  padding: 0 var(--padding-11xs);
}
.dashboard30 {
  position: relative;
  display: inline-block;
  min-width: 28px;
}
.nav-links4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  gap: var(--gap-mini);
}
.side-bar-child18,
.side-bar-child21,
.side-bar-child22 {
  height: 43px;
  width: 3px;
  position: relative;
  background-color: var(--color-white);
  display: none;
}
.side-bar-child21,
.side-bar-child22 {
  height: 40px;
}
.side-bar-child22 {
  height: 44px;
}
.side-bar4 {
  width: 96px;
  background: linear-gradient(180deg, #0c0c0c);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-8xl) var(--padding-2xl) var(--padding-548xl) 0;
  box-sizing: border-box;
  gap: var(--gap-lg);
}
.enter-you-email8 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
  color: var(--color-gray-600);
  text-align: left;
  display: inline-block;
  min-width: 103px;
}
.input-fields {
  cursor: pointer;
  border: 1px solid #dca500;
  padding: var(--padding-base) 59px;
  background-color: var(--color-gold-100);
  box-shadow: 4px -2px 7px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.input-fields:hover {
  background-color: #cc8f00;
  border: 1px solid #a87300;
  box-sizing: border-box;
}
.enter-you-email9 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
  color: var(--color-gray-600);
  text-align: left;
  display: inline-block;
  min-width: 106px;
}
.category,
.input-fields1 {
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-fields1 {
  cursor: pointer;
  border: 1px solid var(--color-gold-200);
  padding: var(--padding-base) var(--padding-38xl) var(--padding-base)
    var(--padding-39xl);
  background-color: var(--color-khaki-100);
  box-shadow: 4px -2px 4px rgba(0, 0, 0, 0.25);
  white-space: nowrap;
}
.input-fields1:hover {
  background-color: var(--color-goldenrod-100);
  border: 1px solid var(--color-darkgoldenrod-100);
  box-sizing: border-box;
}
.category {
  background-color: var(--color-white);
  padding: var(--padding-3xs);
  box-sizing: border-box;
  max-width: 100%;
  row-gap: 20px;
}
.in-stock2 {
  margin: 0;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  min-width: 124px;
}
.export-to-excel4,
.in-stock2 {
  position: relative;
}
.export-to-excel-wrapper2 {
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-cornflowerblue);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-4xs);
  white-space: nowrap;
}
.instance-inner {
  height: 14px;
  width: 14px;
  position: relative;
}
.new-orders8 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 123px;
}
.instance-parent6 {
  border-radius: var(--br-8xs);
  background: linear-gradient(180deg, #0c0c0c, #0c0c0c);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-mini);
  gap: var(--gap-3xs);
  white-space: nowrap;
  color: var(--color-white);
}
.instance-parent5,
.table-headers {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xl);
}
.instance-parent5 {
  background-color: var(--color-gainsboro-200);
  justify-content: center;
  padding: var(--padding-xl);
  font-size: var(--font-size-5xl);
}
.table-headers {
  align-self: stretch;
  border-bottom: 1px solid var(--color-lavender);
  justify-content: space-between;
  padding: var(--padding-9xs) var(--padding-6xl) var(--padding-11xs);
  font-size: var(--font-size-13xl);
  color: var(--color-cornflowerblue);
}
.search-icon7 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.quick-search1 {
  width: calc(100% - 147px);
  border: 0;
  outline: 0;
  font-family: var(--font-poppins);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 24px;
  flex: 1;
  position: relative;
  color: var(--color-gray-100);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 63px;
  padding: 0;
}
.icbaseline-date-range-frame,
.search-bar2 {
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-gainsboro-100);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search-bar2 {
  width: 264px;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-95xl) var(--padding-5xs)
    var(--padding-4xs);
  gap: var(--gap-3xs);
}
.icbaseline-date-range-frame {
  flex: 1;
  background-color: var(--color-white);
  justify-content: center;
  padding: var(--padding-sm) var(--padding-base);
}
.new-orders9 {
  position: relative;
}
.new-orders-parent4 {
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-100);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-4xs);
  gap: var(--gap-3xs);
}
.new-orders11 {
  position: relative;
  display: inline-block;
  min-width: 76px;
}
.new-orders-parent6 {
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-4xs);
  gap: var(--gap-3xs);
  white-space: nowrap;
}
.frame-parent8,
.table-headers1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xl);
}
.frame-parent8 {
  width: 249px;
  background-color: var(--color-gray-700);
  justify-content: flex-end;
  padding: var(--padding-xl);
  box-sizing: border-box;
}
.table-headers1 {
  align-self: stretch;
  border-bottom: 1px solid var(--color-lavender);
  justify-content: space-between;
  padding: var(--padding-9xs) var(--padding-6xl) var(--padding-11xs);
  font-size: var(--font-size-5xl);
  color: var(--color-darkslateblue-100);
}
.frame-input1 {
  margin: 0;
  height: 27px;
  width: 22px;
}
.order-id20 {
  flex: 1;
  position: relative;
}
.component-112 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0;
  box-sizing: border-box;
  gap: var(--gap-2xl-6);
  min-width: 164px;
  max-width: 168px;
}
.date10 {
  align-self: stretch;
  position: relative;
}
.component-1-parent10,
.customer-column1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.customer-column1 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
  min-width: 164px;
  max-width: 168px;
}
.component-1-parent10 {
  align-self: stretch;
  border-bottom: 1px solid var(--color-black);
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: var(--padding-3xs) var(--padding-6xl) var(--padding-5xs);
  gap: var(--gap-3xs);
  font-size: var(--font-size-xl);
}
.rectangle-input10 {
  margin: 0;
  height: 24px;
  width: 22px;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
}
.order-id21 {
  flex: 1;
  position: relative;
}
.component-113 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0;
  box-sizing: border-box;
  gap: var(--gap-2xl-6);
  min-width: 109px;
}
.div29 {
  align-self: stretch;
  position: relative;
}
.wrapper18 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
  min-width: 109px;
}
.store-name10 {
  text-decoration: none;
  align-self: stretch;
  position: relative;
  color: inherit;
}
.completed10 {
  position: relative;
  display: inline-block;
  min-width: 91px;
}
.completed-wrapper8 {
  border-radius: var(--br-11xl);
  background-color: var(--color-mediumaquamarine);
  flex-direction: row;
  padding: var(--padding-10xs) var(--padding-19xl);
}
.completed-wrapper8,
.component-1-parent11,
.instance-wrapper10 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.instance-wrapper10 {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  color: var(--color-darkslategray);
}
.component-1-parent11 {
  align-self: stretch;
  border-bottom: 1px solid var(--color-black);
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: var(--padding-3xs) var(--padding-6xl) var(--padding-5xs);
  gap: var(--gap-3xs);
}
.lalitpur11 {
  align-self: stretch;
  height: 24px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.completed11 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 66px;
}
.completed-wrapper9,
.instance-wrapper11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.completed-wrapper9 {
  border-radius: var(--br-11xl);
  background-color: #bce784;
  flex-direction: row;
  padding: var(--padding-10xs) var(--padding-31xl);
}
.instance-wrapper11 {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  color: #3f4011;
}
.component-1-parent15,
.input-container,
.order-container2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.component-1-parent15 {
  border-bottom: 1px solid var(--color-black);
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: var(--padding-3xs) var(--padding-6xl) var(--padding-5xs);
  gap: var(--gap-3xs);
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.input-container,
.order-container2 {
  flex-direction: column;
}
.order-container2 {
  background-color: var(--color-white);
  padding: var(--padding-3xs) var(--padding-3xs) 187px;
  gap: var(--gap-3xs);
}
.input-container {
  max-width: 100%;
}
.content-panel,
.section4 {
  flex: 1;
  box-sizing: border-box;
}
.content-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 0 0;
  max-width: calc(100% - 116px);
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.section4 {
  border-radius: 0 0 var(--br-xl) var(--br-xl);
  flex-direction: row;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.content2,
.in-stock-2,
.section4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content2 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-4xs);
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -1px;
}
.in-stock-2 {
  width: 100%;
  position: relative;
  box-shadow: 389px 5836px 1638px transparent,
    249px 3735px 1497px rgba(0, 0, 0, 0.01),
    140px 2101px 1263px rgba(0, 0, 0, 0.05),
    62px 934px 936px rgba(0, 0, 0, 0.09), 16px 233px 515px rgba(0, 0, 0, 0.1),
    0 0 0 rgba(0, 0, 0, 0.1);
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  flex-direction: column;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 925px) {
  .side-bar4 {
    display: none;
    padding-top: var(--padding-2xl);
    padding-bottom: var(--padding-350xl);
    box-sizing: border-box;
  }
  .in-stock2 {
    font-size: var(--font-size-7xl);
  }
  .order-container2 {
    padding-top: var(--padding-2xl);
    padding-bottom: 122px;
    box-sizing: border-box;
  }
  .content-panel {
    max-width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .side-bar4 {
    padding-bottom: var(--padding-221xl);
    box-sizing: border-box;
  }
  .category,
  .table-headers1 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .in-stock2 {
    font-size: var(--font-size-lgi);
  }
  .table-headers {
    flex-wrap: wrap;
  }
  .search-bar2 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .new-orders9 {
    font-size: var(--font-size-lgi);
  }
  .date10,
  .order-id20 {
    font-size: var(--font-size-base);
  }
  .order-container2 {
    padding-bottom: 79px;
    box-sizing: border-box;
  }
}
